/* CSS stylesheet used by SQR_Layout.html  */
/*------------------------------------------------*/






.comments{
  margin: 40px;
}

.comment{
  margin: 20px;
}

.comment .name{
  text-align: center;
  font-family: "Calibri", sans-serif;
  font-style: italic;
  font-size: 14pt;
}

.other-services{
  height: auto;           /* Allow it to scale to fit the contents */
  width: auto;
  overflow: auto;         /* Float clear*/
  display: block;
  margin: 10px;
  text-align: center;
  border: 2px solid red;
  background-color: #FFFF99;
}

.service{
  display: inline-block;
  vertical-align: top;
  height: auto;    /* 463px is biggest so far */
  width: 300px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  background-color: #A2FFCC;  /* pale green */
}

.service h3{
  background-color: rgb(69, 199, 75);
  margin: 6px;
  padding: 4px;
  border: 1px solid black;
}

.service img{
  height: auto;
  width: 96%;
  background-color: white;
  border: 1px solid black;
}

.service p{
  background-color: aqua;
  border: 1px solid black;
  padding: 6px;
}

.footer{
  display: block;
}


h1{
  font-size: 24pt;
}

h2{
  margin: 5px;
  text-align: center;
  font-family: "Calibri", sans-serif;
  font-size: 16pt;
}

h3{
  font-family: 'Helvetica', sans-serif;
  font-size: 18pt;
  text-align: center;
}

p{
  margin: 5px;
  text-align: center;
  font-family: "Calibri", sans-serif;
  font-size: 14pt;
}

/*-------------------------------------*/


:root {
  --flickr-pink: #f72585ff;
  --byzantine: #b5179eff;
  --purple: #7209b7ff;
  --purple-2: #560badff;
  --trypan-blue: #480ca8ff;
  --trypan-blue-2: #3a0ca3ff;
  --persian-blue: #3f37c9ff;
  --ultramarine-blue: #4361eeff;
  --dodger-blue: #4895efff;
  --vivid-sky-blue: #4cc9f0ff;

  --dark-text: #212529;
}

html, body {
  margin: 0;
  padding: 0;
}


.navbar {
  display: flex;
  flex-direction: row;
  margin: 0;
  width: 100%;
  height: auto;
  position: fixed;
  background-color: var(--flickr-pink);
}

.navbar-brand{
  color: var(--dark-text);
  font-weight: bold;
  padding: 5px 20px;
  font-size: 2rem;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.nav-link{
    padding: 10px 20px;      
    margin: 5px 10px;        
    background-color: var(--flickr-pink);
    color: var(--skye);
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    color: var(--dark-text);
  }

.nav-link:hover {
  color: var(--trypan-blue);
    background-color: var(--byzantine);
  }

section {
  padding-top: 72px;  /* accounts for navbar */
  background-color: var(--vivid-sky-blue);
}

  
.splash{
  height: auto;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
/*
.splash h1{
  text-align: center;
  padding: 303px;
  border: 1px solid black;
  margin: 0;
  color: white;
  font-size: 60pt;
  font-family: 'Calibri', sans-serif;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
}
*/




.card {
  width: 300px;
  height: auto;
}

